{% extends "layout.html" %}

{% block title %}
    Password Manager
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current password" type="password" required/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New password" type="password" required/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password_confirmation" placeholder="New password (again)" type="password" required/>
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}